@media screen and (min-width: 1901px){
    .primerElemento {
        margin-top: 7%; 
    }
}
@media screen and (max-width: 1900px){
    .primerElemento {
        margin-top: 11%; 
    }
}
@media screen and (max-width: 1400px){
    .primerElemento {
        margin-top: 12%; 
    }
}
@media screen and (max-width: 1300px) {
    .primerElemento {
        margin-top: 13%; 
    }
}
@media screen and (max-width: 1100px) {
    h2 {
        font-size: 35px;
    }
    .primerElemento {
        margin-top: 14%; 
    }
}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 40px;
        padding-top: 100px;
    }
    h2 {
        padding: 50px 50px 20px 50px;
        font-size: 30px;
    }
    .primerElemento {
        margin-top: 15%; 
    }
}
@media screen and (max-width: 700px) {

    .primerElemento {
        margin-top: 16%; 
    }
}
@media screen and (max-width: 600px) {
    p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 25px;
    }
    .primerElemento {
        margin-top: 17%; 
    }
}
@media screen and (max-width: 400px) {

    h2 {
        padding: 30px 30px 20px 30px;
    }
    .primerElemento {
        margin-top: 20%; 
    }
}